.card1{

  border: 1px solid #ccc;
  border-radius: 14px;
  overflow: hidden;
  height: 500px;
  width: 350px;
  
}

.button1{
  background-color:#003DA5 ;
  color: #ffffff;
  width: 100px;
}
.img{
  // width: 100%;
  height: 200px;
  // object-fit: cover;
}
.date1{
  margin-left: 20px;
  margin-top: 5px;
}
.text1{
color: #0B7077 !important;
}