.titre{
  text-align: center !important;
  color: #003DA5;
  margin-bottom: 50px;
  font-size: 48px;
}
.titre1{
  text-align: center !important;
  margin-right: 100px;
  margin-left: 100px;
  color: #696984;
  font-size: 22px;
}
.marge1{
  margin-top: 40px;
}